{% extends 'base.html' %}
{% block content_title %}
{% endblock %}
{% block content %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% load static %}
    <div class="container ">
        <div class="container ">
            <div class="columns">
                <div class="column is-two-fifths has-background-grey-light">
                    <form class="box has-background-primary">
                        <div class="column">
                            <div class="columns">
                                <div class="column">
                                    <div class="container ">
                                        <div class="table has-background-grey-light">
                                            <div class="content">
                                                <div class="columns">
                                                      <div class="is-three-quarters">
                                                          <table class="$table-foot-cell-color">
                                                    {% for operation in operations %}
                                                    <tr>
                                                        <td class="content">
                                                            {{ operation }}
                                                        </td>
                            <td class="content">
                                {% if operation_type == 'total' %}
                                <input class="input is-small" type="number" name="results">
                                {% elif operation_type == 'decimal' %}
                                <input class="input is-small" type="number" name="results" step="0.01">
                                {% elif operation_type == 'fraction' %}
                        <input class="form-control" type="text" name="numerator" style="width: 3em;">
                                <a>/</a>
                        <input class="form-control" type="number" name="denominator" style="width: 3em;">
                                {% endif %}
                            </td>
                                                    </tr>
                                                    {% endfor %}
                                                </table>
                                                      </div>
                                                        <div class="column"></div>
                                                    </div>
                                                <button class="button is-black" type="submit">Sprawdź</button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <div class="fieldWrapper{% if field.field.required %} required{% endif %}">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="column">
                    <figure class="image is-3by2">
                        <img src="{% static 'index.jpg' %}" alt="school">
                    </figure>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}